{% extends 'base.html.twig' %}

{% block body %}
    <div class="row ">
        <div class="col-md-auto border border-dark p-4 mx-auto shadow bg-light">
            <img src="{{ asset('build/images/implantacion.webp') }}" alt="implantacion cantagua ii" width="1000px">
        </div>
    </div>
{% endblock %}
