@import './params/variables.scss';

body {
  font-family: rustica, sans-serif !important;
  font-weight: 500;
  font-style: normal;
  color: $azul !important;
  background: $azulsuave;
}

thead tr {
  background: $azul;
  color: $light;
}
