<nav
  class='navbar navbar-expand-lg navbar-dark m-4 bg-dark'
  style='font-family: rustica, sans-serif !important;'
>
  <div class='container-fluid'>
    <a href="{{ path('app_homepage') }}" class='navbar-brand'>Sistema Control Presupuestario</a>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav'>
        <li class='nav-item dropdown'>
          <a
            class='nav-link dropdown-toggle'
            href='#'
            id='navbarDropdownMenuLink'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            Transacciones
          </a>
          <ul class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink' >
            <li><a class='dropdown-item ' href='{{ path('obra_show') }}'  >Obra</a></li>
            <li><a class='dropdown-item' href='{{ path('presupuesto_show') }}' >Presupuesto</a></li>
            <li><a class='dropdown-item' href='#' >Factura</a></li>
            <li><a class='dropdown-item' href='#' >Avance de Obra</a></li>
            <li><a class='dropdown-item' href='#' >Flujo</a></li>
          </ul>
        </li>
        <li class='nav-item dropdown'>
          <a
            class='nav-link dropdown-toggle'
            href='#'
            id='navbarDropdownMenuLink'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            Reportes
          </a>
          <ul class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
            <li><a class='dropdown-item' href='#'>Cuadre</a></li>
            <li><a class='dropdown-item' href='#'>Control Actual</a></li>
            <li><a class='dropdown-item' href='#'>Control por Fechas</a></li>
            <li><a class='dropdown-item' href='#'>Gastado Mensual</a></li>
            <li><a class='dropdown-item' href='#'>Presupuesto vs. Ejecutado</a></li>
            <li><a class="dropdown-item" href="#">Gastado en el mes</a></li>
          </ul>
        </li>
        <li class='nav-item dropdown'>
          <a
            class='nav-link dropdown-toggle'
            href='#'
            id='navbarDropdownMenuLink'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            Par&aacute;metros
          </a>
          <ul class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
            <li><a class='dropdown-item' href='#'>Proveedor</a></li>
            <li><a class='dropdown-item' href='{{ path('partida_show') }}'>Partida</a></li>
          </ul>
        </li>
        <li class='nav-item dropdown'>
          <a
            class='nav-link dropdown-toggle'
            href='#'
            id='navbarDropdownMenuLink'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            Usuarios
          </a>
          <ul class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
            <li><a class='dropdown-item' href='#'>Cambio Contrase&ntilde;a</a></li>
            <li><a class='dropdown-item' href='#'>Crear Usuario</a></li>
            <li><a class='dropdown-item' href='#'>Resetear Contrase&ntilde;a</a></li>
          </ul>
        </li>
        <li class='nav-item  me-auto'>
          <a class='nav-link' href='#'>Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>